%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/

    %title impress.js presentation generator
    %meta{:content => "", :name => "description"}/

    %link{:href => "impress/css/impress-demo.css", :rel => "stylesheet"}/

  
  %body.impress-not-supported
    .fallback-message
      %p
        Your browser
        %b doesn't support the features required
        by impress.js, so you are presented with a simplified version of this presentation.
      %p
        For the best experience please use the latest
        %b Chrome
        ,
        %b Safari
        or
        %b Firefox
        browser.

    #impress
      = yield

    %script{:src => "impress/js/impress.js"}
    :javascript
      impress().init();